<html>
        <head>
            <title>Login</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        </head>
        <body>
            <div class="container">
                <div class="page-header">
                    <h1>Sign in Success</h1>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Success</h3>
                    </div>
                    <div class = "penel-body">
                        <img src = "{{.UserData.avatar_url}}"/>
                        <p>{{.UserData.name}}</p>
                    </div>
                </div>
            </div>
            <div><a class="btn btn-default" href="/logout" role ="button">logout</a></div>
        </body>
        
</html>